/* tag overrides */
body {
  font-family:"Roboto", sans-serif;
  color:#252525;
}

img {
	width:100%;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

/* styles */

.page-header {
  height:85px;
  padding:25px;
  color:white;
  background:#ff0000;
}
  .page-header h1 {
    margin:0;
    vertical-align: middle;
  }

  .page-header .search-form {
    width:100%;
    vertical-align: middle;
  }
    .page-header .search-form input, .page-header .search-form button {
      height:34px;
      padding:5px 8px;
    }
    .page-header .search-form input {
      width:92%;
    }

.main-video {
  margin-top:40px;
}

.most-viewed ul li {
  min-height:82px;
}

.video-player h4, .most-viewed h4 {
  margin-top:0;
}

.video-thumb .thumb {
  float:left;
  width:40%;
}
.video-thumb .desc {
  float:right;
  width:50%;
  font-size:12px;
}

.video-search-presets ul li {
  height:120px;
}

  /* reusables */
.hide {
  display:none;
}
