/* tag overrides */
body {
  font-family:"Roboto", sans-serif;
  color:#252525;
}

h4 {
  margin-top:0;
}

img {
	width:100%;
}

ul {
  list-style:none;
  margin:0;
  padding:0;
}

hr {
  margin-top:15px;
}

/* styles */
.search-history {
  display:none;
}

.page-header {
  height:175px;
  padding:25px;
  text-align:center;
  color:white;
  background:#ff0000;
}
.page-header h1 {
  margin:0 0 25px 0;
 }

.page-header .search-form {
  width:100%;
}
.page-header .search-form input, .page-header .search-form button {
  height:34px;
  padding:5px 8px;
}
.page-header .search-form input {
  width:85%;
}

.main-video {
  margin-top:40px;
}
.iframe-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:35px;
  height:0;
  overflow:hidden;
}
.iframe-container iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.video-player, .most-viewed, .video-search-presets .col-4 {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
}

.most-viewed ul li {
  min-height:125px;
}

.video-thumb .thumb {
  float:left;
  width:40%;
}
.video-thumb .desc {
  float:right;
  width:50%;
  font-size:16px;
}

.video-search-presets ul li {
  height:120px;
}

footer {
  padding-bottom:25px;
  font-size:12px;
  text-align:center;
}

  /* reusables */
.hide {
  display:none;
}

/* tablets */
@media only screen and (min-width: 768px) {

  h1 {
    font-size:24px;
  }

  .page-header {
    height:85px;
  }

  .main-video div.row {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
  }

  .video-player, .most-viewed, .video-search-presets .col-4 {
    margin:0;
    padding:0;
    border-bottom: none;
  }

  .most-viewed ul li {
    min-height:71px;
  }

  .video-search-presets ul li {
    height:90px;
    padding-right:15px;
  }

  .video-thumb .desc {
    font-size:10px;
  }

  footer {
    margin-top:25px;
    padding-top:10px;
    padding-bottom:15px;
    border-top:solid 1px #ccc;
  }

}

/* desktops */
@media only screen and (min-width: 1024px) {

  h1 {
    font-size:28px;
    text-align:left;
  }

  .most-viewed ul li {
    min-height:91px;
  }

  .video-search-presets ul li {
    height:115px;
  }

  .video-thumb .desc {
    width:52%;
    font-size:14px;
  }

  footer {
    width:1000px;
    margin-right:auto;
    margin-left:auto;
  }

}

/* large monitors */
@media only screen and (min-width: 1400px) {

  .search-history {
    display:block;
    float: right;
    width:320px;
  }
  .search-history ul {
    list-style:disc;
    margin-left:15px;
    padding-left:15px;
  }
  .search-history ul li {
    padding:5px 0;
  }

}
